<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ubi.di.pmd.a44149_t9"
    >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/cadavre_icon"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/cadavre_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.A44149_T9_2">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Regras" >

        </activity>
        <activity android:name=".JogoFinal">

        </activity>
        <activity android:name=".MenuOpcoes">

        </activity>
        <activity android:name=".Jogo">

        </activity>
    </application>

</manifest>